<section class="footer">
    <div class="footer-row">
      @defer (on viewport) {
        <div class="footer-col">
          <a href=""> <h1>Satendra_<span style="color: #ff4500;">Rajput <span style="font-size: 9px;"></span> </span></h1></a>
         <p>Hi there! My name is Satendra Rajput and I’m a software engineer with over 3 years of experience in the industry. I share my knowledge and experience with others..</p>
          <!-- <form action="#">
            <input type="text" placeholder="Your email" required>
            <button type="submit">SUBSCRIBE</button>
          </form> -->
        </div>
  
      <div class="footer-col">
        <h4>Company</h4>
        <ul class="links">
          <li><a href="/about_us">About us</a></li>
          <li><a href="/terms_services">Terms of Services</a></li>
          <li><a href="/privacy_policy">Privacy Policy</a></li>
          <li><a href="/refund_policy">Refund Policy</a></li>
          <li><a href="/pricing_policy">Pricing Policy</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Resources</h4>
        <ul class="links">
          <li><a href="#">HTML/CSS Templates</a></li>
          <li><a href="#">Admin Design</a></li>
          <li><a href="https://ssbrinet.com/" target="_blank">Chat API</a></li>
          <li><a href="#">Website Design</a></li>
          <li><a href="#">Portfolio Templates</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Usefull Links</h4>
        <ul class="links">
          <li><a href="#">Sell Courses Online</a></li>
          <li><a href="https://ssbrinet.com/" target="_blank">Problem-Solving</a></li>
          <li><a href="#">Free Quizzes</a></li>
          <li><a href="#">Mentor</a></li>
          <li><a href="https://ssbrinet.com/" target="_blank">Code_Lekhak Uni</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Contact us</h4>
        <ul class="links">
          <li><a href="tel:885-975-8708" target="_blank">📞 +91 8859758708</a></li>
          <li><a href="tel:639-238-0343" target="_blank">📞 +91 6392380343</a></li>
          <li><a href=" mailto:info@codelekhak.com">📧 info&#64;codelekhak.com</a></li>
          <div class="icons">
            <i class="fa-brands fa-linkedin"><a href="https://www.linkedin.com/in/satendra-rajput/" target="_blank"><img
              src="assets/icons/linkedin.svg" alt="" width="30px" height="30px" /></a></i>
              <i class="fa-brands fa-youtube"><a href="https://github.com/satendra-rajput" target="_blank"><img
                src="assets/icons/github.svg" alt="" width="26px" height="26px" /></a></i>
            <i class="fa-brands fa-facebook-f"><a href="https://www.facebook.com/satendra.rajputs" target="_blank"><img
                  src="assets/icons/facebook.svg" alt="" width="30px" height="30px" /></a></i>
            <i class="fa-brands fa-instagram"><a href="https://www.instagram.com/satendra.rajputs/" target="_blank"><img
                  src="assets/icons/instagram.svg" alt="" width="30px" height="30px" /></a></i>
            
            <i class="fa-brands fa-twitter"><a href="https://twitter.com/satendrarajput_" target="_blank"><img
                  src="assets/icons/twitter.svg" alt="" width="28px" height="28px" /></a></i>
           
          </div>
        </ul>
      </div>

      
      } @placeholder {
      <div>Loading..</div>
      }
      
    </div>
  <br>
    <div class="sub-footer">© 2024, SR. Don't hesitate to reach out..</div>
  </section>